<style>
    .coba {
    }
     #main {
    width: 600px;
    margin: 0 auto; 
    }
    div {
    text-align: right;
    border: solid;
    border-color: rgb(141, 0, 0);
    background-color: rgb(255, 251, 231);
    font-size: 24px;
    font-weight: bold;
    font-family: monospace;
    padding: 20px;
    color: rgb(47, 29, 128);
    }
</style>