<style>
  .coba {
    }
    .container {
     position: relative;
     border: solid;
     border-color: peachpuff;
     background-color: rgb(236, 231, 227);
     border size: 3px;
     padding: 20px;
    }
    nav {
     position: absolute;
     left: 0px;
     width: 200px;
     border: solid;
     border-color: rgb(192, 146, 105);
     background-color: pink;
     border size: 3px;
    }
    section {
    /* position is static by default */
     margin-left: 200px;
     text-align: justify;
     background-color: plum;
    }
    .section1 {
     border: solid;
     border-color: rgb(192, 146, 105);
     border size: 3px;
     padding: 20px;
    }
    .section2 {
     border: solid;
     border-color: rgb(231, 194, 162);
     border size: 3px;
     padding: 20px;
    }
    .section3 {
     border: solid;
     border-color: rgb(196, 125, 63);
     border size: 3px;
     padding: 20px;
    }
    footer {
     position: fixed;
     bottom: 0;
     left: 0;
     height: 70px;
     background-color: white;
     width: 100%;
     font-weight: bold;
     text-align: center;
     border: solid;
     border-color: rgb(196, 125, 63);
     background-color: powderblue;
     border size: 3px;
    }
    body {
     margin-bottom: 120px;
    } 
    </style>