<style>
.coba {
}
    .container {
    position: relative;
     border: solid;
     border-color: peachpuff;
     background-color: rgb(236, 231, 227);
     border size: 3px;
    }
    .section1 {
     border: solid;
     border-color: rgb(192, 146, 105);
     border size: 3px;
     padding: 20px;
    }
    .section2 {
     border: solid;
     border-color: rgb(231, 194, 162);
     border size: 3px;
     padding: 20px;
    }
    @media (min-width:600px) {
    nav {
    float: left;
    width: 25%;
    border: solid;
     border-color: rgb(192, 146, 105);
     background-color: pink;
     border size: 3px;
    }
    section {
    margin-left:14%;
    text-align: justify;
    }
    }
    @media (max-width:599px) {
    nav li {
        display: inline;
    }
    }
    </style>