<style>
    .coba {
    }
    #main {
         max-width: 600px;
         margin: 0 auto; 
    }
    div {
        text-align: right;
        border: solid;
        border-color: rgb(18, 0, 97);
        background-color: rgb(251, 230, 252);
        font-size: 24px;
        font-weight: bold;
        font-family: monospace;
        padding: 20px;
        color: rgb(0, 0, 0);
        font-style: italic;
    }
</style>